.mainCantainer {
  background-color: #a3e635;  
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formHolder {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 35%;
  height: 85vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.nameInputHolder {
  margin-top: 1rem;
  /* border: solid greenyellow; */
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.inputboxName {
  width: 48%;
  padding: 1rem;
  margin-block: 10px;
  outline: none;
  font-size: 1rem;
  background-color: #e5e7eb;
  border: none;
}
.inputbox {
  margin-block: 10px;
  padding: 1rem;
  width: 100%;
  outline: none;
  font-size: 1rem;
  background-color: #e5e7eb;
  border: none;
}

.checkBoxCase {
  font-size: 1.2rem;
  margin: 10px;
}

.SignupBtn {
  width: 35%;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
  background-color: #a3e635;
  font-size: 1.2rem;
  border: none;
}

