* {
  font-family: "Edu SA Beginner", cursive;
  font-family: "Hurricane", cursive;
  font-family: "Noto Sans", sans-serif;
  font-family: "Ysabeau Office", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::placeholder {
  font-size: 1rem;
}
